{% extends '_base.html' %}


{% block title %}Songs{% endblock %}

{% block content %}
  <div>
    {% if songs %}
    <figure class="image is-128x128">
    <img src="{{ album.cover.url }}" alt="">
    </figure>
    <section class="section">
    {% for song in songs %}
     <ul>
      <!-- <div class="content"> -->
      <div class="columns">
      <div class="column">
      <li>
        {{ song.name }}
      <br>
      <audio controls="controls" src="{{ song.file.url }}">
      Your browser does not support the HTML5 Audio element.
      </audio>
      <a href="{{ song.file.url }}" rel="nofollow" download>
      <button class="button is-link"><i class="fa fa-download" aria-hidden="true"></i>
</button>
      </a>
      </li>
      </div>
      </div>
     </ul>
    {% endfor %}
      </section>
    {% else %}
      Ops   :(
      </div>
    {% endif %}
    <br>
    {% with comments.count as total_comments %}
      <h2>
        {{ total_comments }} comment{{total_comments|pluralize }}
      </h2>
    {% endwith %}
    <br>
    {% for comment in comments %}
      <div>
        <p>
          Comment {{ forloop.counter }} by {{ comment.name }}
          {{ comment.created }}
        </p>
        {{ comment.body|linebreaks }}
      </div>
    {% empty %}
      <p>There are no comment yet.</p>
    {% endfor %}
    {% if new_comment %}
      <h2>Your comment has been added.</h2>
    {% else %}
    <br>
    <br>
      <h2>Add a new comment</h2>
    <br>
    <form method="post">
      {% csrf_token %}
      {% include 'includes/contact_form.html' with form=form %}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endif %}
{% endblock %}
